@charset "utf-8";
body { font-size:14px; color:#666; font-family:'Microsoft Yahei', Tahoma, Arial!important; font-family:Tahoma, Arial; background:#dbdfe3; }
a { color:#039;text-decoration: none; }
a:hover { color:#06C; }
img { border:none 0; }
body.showChange .change { background:#FF0; border-radius: 3px; }
h1.title { text-align:center; color:#30475e; }
h1.title strong { font-size:42px; position:relative; }
h1.title strong:after { content:''; display:block; position:absolute; left:0; bottom:24px; width:90%; height:1px; box-shadow:0 20px 15px rgba(0, 0, 0, .8); }
#header, #main, #footer { width:840px; margin:auto;}
#header .summary { padding:20px; background:#30475e; color:#FFF; border-radius: 8px; zoom:1; }
#header .summary:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#header .summary a { color:#FFF; }
#header .summary a:hover { color:#CCC; }
#header .summary strong { display:inline-block; width:5em; }
#header .summary dl { padding:0; margin:0; }
#header .summary dd { margin-left:0; padding:3px 0; }
#header .summary dt { display:none; }
#header .summary dd.photo { float:right; }
#header .summary img { border:1px #506f8e solid; }
#main .card { padding:20px; margin-top:30px; background: #FFF; border:1px solid #d1d6db; border-radius: 8px; }
#main .card:after { position:relative; z-index:-1; content: ""; padding:20px; display: block; height: 10px; border-radius: 10px; box-shadow:0 20px 20px rgba(2, 37, 69, .6); }
#main .card h2 { text-align:center; color:#000; }
#main .card ul dl { padding-left:1em; border-left:1px dashed #DDD; }
#main .card ul dt { padding:8px 0; font-weight:bold; }
#main .card ul dd { margin-left:0; }
#main .card ul dd dl { margin-left:2em; }
#footer { padding:20px 0; text-align:center; color:#999; }
#footer .copyright a { color:#999; }

/*///// code /////*/
.runCode:after { content: "..."; }
.button, 
.runCode { display:inline-block; padding:1px 12px; text-decoration:none; color: #333 !important; cursor:pointer; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .2), 0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s;
-webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
white-space: nowrap; }
.button:focus, .runCode:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.button:hover, .runCode:hover { color:#000; border-color:#666; }
.button:active, .runCode:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.button[disabled] { cursor:default; color:#666; background:#DDD; border: 1px solid #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
pre { position:relative; padding:5px; font-size:14px; border:1px solid #EFEFEF; background:#F9F9F9; z-index:2; border-radius: 5px; }
pre:before, pre:after { visibility:hidden; display:block; content:""; width:0; height:0; border:9px solid transparent; position:absolute; }
pre:before { border-top-color:#EEF7F5; position:absolute; left:18px; bottom:-18px; z-index:2; }
pre:after { border-top-color:#c7dcd3; left:18px; bottom:-19px; z-index:1; }
pre.select { background:#EEF7F5 !important; border:1px solid #D7EAE2; border-right-color:#c7dcd3; border-bottom-color:#c7dcd3; }
pre.select:before, pre.select:after { visibility:visible; }
/*//// skin ////*/
#skins { width:560px; padding:8px 0; }
#skins .button { width:82px; text-align:center; }
#skins ul, #skins li { padding:0; margin:0; list-style:none; }
#skins li { display:inline; }
#skins ul { text-align:center; }

#showChange { position:fixed; bottom:0; right:0; z-index:87; }
@media only screen and (max-width:980px) {
 h1.title {
font-size:24px;
}
 #header, #main, #footer {
max-width:100%;
}
 img {
max-width:100%
}
}
@media print {
#header .summary, a { color: #000 !important; }
#header, #main, #footer { width:auto; }
#main .card { padding:10px; margin-top:10px; box-shadow:none; border:none 0; border-top: 1px dashed #666; border-radius:0; }
#main .card h2 { text-align:left; }
#main .card:after { display:none; }
h1.title strong:after, #index, #print, .runCode, .button, #skin-menu { display:none; }
}
pre.sh_sourceCode { color: #000000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_keyword { color: #009; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_type { color: #0000ff; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_string { color: #00F; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_regexp { color: #060; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_specialchar { color: #C42DA8; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_comment { color: #999; font-weight: normal; font-style: italic; }
pre.sh_sourceCode .sh_number { color: #F00; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_preproc { color: #00b800; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_symbol { color: #009; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_function { color: #000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_cbracket { color: #009; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_url { color: #ff0000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_date { color: #0000ff; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_time { color: #0000ff; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_file { color: #0000ff; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_ip { color: #ff0000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_name { color: #ff0000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_variable { color: #ec7f15; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_oldfile { color: #C42DA8; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_newfile { color: #ff0000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_difflines { color: #0000ff; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_selector { color: #ec7f15; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_property { color: #0000ff; font-weight: bold; font-style: normal; }
pre.sh_sourceCode .sh_value { color: #ff0000; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_predef_var { color: #909; font-weight: normal; font-style: normal; }
pre.sh_sourceCode .sh_predef_func { color: #099; font-weight: normal; font-style: normal; }
/* powerFloat */
.float_ajax_box {
	border: 1px solid #ccc;
	background-color: #fff;
}

.float_loading {
	width: 100px;
	height: 100px;
	background: url(../image/loading.gif) no-repeat center;
}

.float_ajax_image {
	padding: 5px;
}

.float_ajax_error {
	width: 200px;
	padding: 40px 0;
	text-align: center;
}

.float_list_ul {
	margin: 0;
	padding: 1px;
	border: 1px solid #beceeb;
	background-color: #fff;
	font-size: 12px;
	list-style-type: none;
}

.float_list_a {
	display: block;
	text-decoration: none;
}

.float_list_a:hover {
	background-color: #f0f3f9;
	color: #333;
	text-decoration: none;
}

.float_list_ul li {
	line-height: 20px;
	border-top: 1px solid #f0f3f9;
	text-indent: 5px;
}

.float_list_ul li:first-child {
	border-top: 0;
}

.float_list_null {
	padding: 40px 20px;
	text-align: center;
}

.float_remind_box {
	border: 1px solid #F7CE39;
	background: #ffffe0;
	padding: 5px 10px;
}

.float_tip_box {
	line-height: 18px;
	padding: 0 3px;
	background-color: #ffffe0;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	border: 1px solid #333;
	position: absolute;
}

.float_doing_box {
	border: 1px solid #F7CE39;
	background: #ffffe0 url(../image/loading.gif) no-repeat 5px center;
	padding: 5px 10px 5px 25px;
	font-size: 12px;
	position: absolute;
}

.float_corner {
	font-size: 18px;
	font-family: '宋体';
	position: absolute;
	left: -6000px;
	overflow: hidden;
}

.float_corner .corner {
	position: absolute;
}

.float_corner .corner_1 { /*可去除*/
	color: #ccc;
}

.float_corner .corner_2 { /*可去除*/
	color: #fff;
}

.float_corner_top,.float_corner_bottom {
	width: 16px;
	height: 8px;
}

.float_corner_top {
	line-height: 14px;
}

.float_corner_bottom {
	line-height: 17px;
}

.float_corner_left,.float_corner_right {
	width: 8px;
	height: 16px;
}

.float_corner_top .corner,.float_corner_bottom .corner {
	left: 0;
}

.float_corner_right .corner,.float_corner_left .corner {
	top: -2px;
}

.float_corner_bottom .corner_1 {
	
}

.float_corner_bottom .corner_2 {
	top: 1px;
}

.float_corner_left .corner_1 {
	right: 0;
}

.float_corner_left .corner_2 {
	right: 1px;
}

.float_corner_top .corner_1 {
	bottom: 0;
}

.float_corner_top .corner_2 {
	bottom: 1px;
}

.float_corner_right .corner_2 {
	left: 1px;
}

.owl_shadow {
	background: none repeat scroll 0 0 #000000;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
}

.menu_base {
	background: none repeat scroll 0 0 #DADADA;
	padding: 0;
}

.menu_base_if {
	background: none repeat scroll 0 0 transparent;
	position: absolute;
	z-index: 1000;
}

.menu_bd {
	background: none repeat scroll 0 0 #F3F3F3;
	border-radius: 5px 5px 5px 5px;
	padding: 4px 0;
}

.menu_item,.menu_item_high,.menu_item_nofun {
	cursor: pointer;
	padding: 0 5px 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu_item_nofun {
	color: #7B7B7B;
	cursor: default;
	margin: 2px;
}

.menu_item_high {
	background: none repeat scroll 0 0 #3470CC;
	color: #FFFFFF;
}

/**Ext 下拉框样式 */
.menu_box {
	margin: 0pt;
	width: 120px;
	height: 28px;
	left: 0px;
	top: 0px;
}

.menu_item_sort_asc .menu_item_icon {
	background-image: url("../images/hmenu-asc.gif");
}

.menu_item_sort_desc .menu_item_icon {
	background-image: url("../images/hmenu-desc.gif");
}

.menu_item_unchecked .menu_item_icon {
	background-image: url("../images/unchecked.gif");
}

.menu_item_checked .menu_item_icon {
	background-image: url("../images/checked.gif");
}

.menu_item_link {
	cursor: pointer;	
	display: block;
	line-height: 16px;
	margin: 0px;
	padding:  5px 2px 3px 35px;
	text-decoration: none !important;
}

.menu_item_link:hover {
	background-color: #D9E8FB;
	background-image: -moz-linear-gradient(center top, #E7F0FC, #C7DDF9);
	border: 1px solid #A9CBF5;
	border-radius: 3px 3px 3px 3px;
	
}

.menu_item_icon {
	background: none no-repeat scroll center center transparent;
	height: 16px;
	left: 20px;
	position: absolute;
	width: 16px;
}

.menu_item_inputcheck {
	background: none no-repeat scroll center center transparent;
	height: 16px;
	left: 16px;
	margin: 0 5px 2px 3px;
	position: absolute;
	width: 16px;
}

.menu_item_text {
	color: #222222;
}